@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}
.formLabel {
    @apply text-xs font-bold text-gray-400
}

.formInput {
    @apply rounded  border-2 bg-transparent py-1 border-gray-600 px-2 focus:outline-gray-700 font-inter
}

.submitButton {
    @apply relative bg-gradient-to-r from-gray-400 to-white border-b transition-all duration-500 hover:scale-[1.03] text-black rounded-md shadow-md shadow-gray-900 mt-6 py-[6px] text-lg w-[70%] self-center font-bold font-cinzel;
  
    &::before {
      @apply absolute inset-0 bg-gradient-to-r from-gray-600 to-gray-300 opacity-0 transition-opacity duration-500 rounded-md;
      content: '';
      z-index: -1;
    }
  
    &:hover::before {
      @apply opacity-100;
    }
  }

.card {
    @apply flex flex-col bg-gradient-to-br from-gray-700 via-gray-700/85 to-gray-800 p-6 rounded-md shadow-md shadow-gray-900
}

